@import '../../../theme/variables';


ion-tab-button, ion-icon{
  transition: all 0.1s ease-out;
}

.active-class {
  ion-icon {
    font-size: 40px;
  }
  color: #4984C3;
}

ion-searchbar {
  height: 44px;
  padding-top: 17px;
  transform: scaleY(0.8);
}

ion-content{
  --background: #EFF1FF !important;
}

ion-item{
  --border-color: #DFE3FF;
}
