@import '../../../theme/variables';

// ion-segment{
//   height: 50px;
// }

// ion-segment-button{
//   // --background: #94BBFF !important;
//   // color: white;
//   margin-left: 2%;
//   margin-right: 2%;
// }

ion-card {
  width: 90%;
  // padding: 0px;
  margin-top: 5px;

  ion-icon{
    color: black;
  }

}

.disabled{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

