@import '../../../theme/variables';

ion-card {
  width: 90%;
  margin-top: 5px;

  ion-icon{
    color: black;
  }

}

.disabled{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}


.active-class {
  --background: #4984C3;
}

ion-card-header{
  padding: 0px !important;
}

ion-segment-button{
  min-width: auto !important;
  padding: 10px;
}
